.header-website {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f8f9fa; /* Lighter background */
  border-bottom: 1px solid #dee2e6; /* Lighter border */
}

.logo-container .logo {
  height: 120px;
}

.search-container {
  flex-grow: 1;
  margin: 0 40px;
}

.search-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #4285F4; /* Blue from logo */
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #34A853; /* Green from logo */
}
